h1{
    color: #D72484;
}
h2{
    color:#05B2DC;
}
h3{
    color:#05B2DC
}
h4{
    color:#05B2DC
}
body{
    background-color:#2F2F2F;
}
main{
    color:#f5f5edad;
}
main{
    font-family: sans-serif;
}
footer{
    color:#D72484;
}
.pastel-header{
    color:#b2b971;

}
a{
    color:hotpink ; 
}
header a{
    color: #51d3b2;
    font-family: sans-serif;
}
#stopka{
    font-family: sans-serif;
}
.top-header{
    font-family: sans-serif;
}
//#dziennik{
    color:#a5a546af ;
}